.adminChatRightContainer {
  max-width: 80%;
  width: 80%;
  height: 80vh;
  padding: 0px 5px;
  border-left: 1px solid #5a1d60;
  position: relative;
  .adminChatRightHeader {
    background: none;
    border: 1px solid #5a1d60;
    border-radius: 15px;
    color: #ccc;
    padding: 10px;
  }
  .adminChatRightMessages {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    height: 65vh;
    overflow-y: scroll;
    margin: 3px 0;
    .message {
      &.userMessage {
        align-self: flex-end;
        background: none;
        padding: 10px;
        border: 1px solid #5a1d60;
        border-top-right-radius: 0px;
        border-radius: 15px 0px 15px 15px;
        color: #ccc;
        text-wrap: wrap;
      }

      &.systemMessage {
        align-self: flex-start;
        background: none;
        border: 1px solid #5a1d60;
        border-radius: 0px 15px 15px 15px;
        color: #ccc;
        padding: 10px;
        text-wrap: wrap;
        max-width: 25vw;
      }
    }
  }
  .adminRightChatInputContainer {
    background: none;
    border-top: 1px solid #5a1d60;
    color: #ccc;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    input {
      background: none;
      border: 1px solid #5a1d60;
      border-radius: 15px;
      padding: 5px 10px;
      color: #ccc;
      outline: none;
      width: 100%;
      transition: 0.5s;
      font-size: 1rem;
      &:focus {
        box-shadow: #5a1d60 0px 5px 15px;
      }
    }
    button {
      background: none;
      color: #ccc;
      border: 1px solid #5a1d60;
      border-radius: 15px;
      transition: 0.5s;
      padding: 5px;
      &:hover {
        color: #5a1d60;
      }
      i {
        font-size: 1.7rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
      }
    }
  }
  p {
    background: none;
    padding: 10px;
    border: 1px solid #5a1d60;
    border-radius: 15px;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
