.adminChatRightContainer{
    width: 80%;
    height: 72vh;
    overflow-y: scroll;
    background-color: red;
    padding: 5px;
    .adminChatRightHeader{
        width: 100%;
        background-color: green;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .adminChatRightMessages {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 5px;
        .message {
          &.userMessage {
            align-self: flex-end; 
            background-color: gray;
          }
      
          &.systemMessage {
            align-self: flex-start; 
            background-color: ;
          }
        }
      }
}