.adminChatRightContainer{
    width: 80%;
    height: 72vh;
    overflow-y: scroll;
    background-color: red;
    padding: 5px;
    .adminChatRightMessages {
        display: flex;
        flex-direction: column;
        padding: 10px;
      
        .message {
          &.userMessage {
            align-self: flex-end; // Kullanıcı mesajları sağa
          }
      
          &.systemMessage {
            align-self: flex-start; // Sistem mesajları sola
          }
        }
      }
}