.adminChatLeftContainer {
  width: 20%;
  height: 100%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  .adminChatLeftSearch {
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    input {
      background: none;
      border: 1px solid #5a1d60;
      border-radius: 15px;
      transition: 0.5s;
      outline: none;
      padding: 8px 10px;
      color: #ccc;
      width: 100%;
      &:focus {
        box-shadow: #5a1d60 0px 5px 15px;
      }
    }
    i {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 1.3rem;
      color: #5a1d60;
      cursor: pointer;
    }
  }
  .chatPersonList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 40px;
    overflow-y: auto;
    .chatPerson {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 1px solid #5a1d60;
      border-radius: 15px;
      color: #ccc;
      transition: 0.5s;
      cursor: pointer;
      p {
        font-size: 10px;
      }
      .deleteChatAdmin{
        font-size: 1.3rem;
        transition: 0.5s ease;
        &:hover{
          color: #5a1d60;
        }
      }
      .chatPersonStatus{
        .statusIcon {
          font-size: 1.5rem;
          animation: pulse 1.5s infinite; 
        }
      }
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}