.Header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  border-bottom: 1px solid #5a1d60;
  &.hidden {
    transform: translateX(-50%) translateY(-100%);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #myLogo {
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
    color: transparent;
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .Navbar {
    position: fixed;
    top: -250%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &.open {
      top: 110%;
    }
    .NavbarList {
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px;
      background: linear-gradient(to bottom, black, #5a1d60);
      border: 1px solid #5a1d60;
    }
    li {
      list-style: none;
      font-size: 1.5rem;
      color: #ccc;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .Navbar {
    position: static;
    flex-direction: column !important;
    height: auto;
    background: transparent;
    gap: 30px;

    &.open {
      right: auto;
      max-height: 100%;
    }
  }
}
@media (max-width: 768px) {
  .Header {
    width: 90%;
  }
}
