* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

body {
  height: 100vh;
  background-color: #fbebd6;
}

header {
  padding: 20px 40px;
  z-index: 9999;
}

.logo h1 {
  font-weight: 500;
  font-family: 'Bodoni Moda', serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-icon {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);

  &.animated {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.6s 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  &:hover {
    span:first-child {
      transform: translateX(-10px);
    }
    span:last-child {
      transform: translateX(5px);
    }
  }
}

.logo {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);

  &.animated {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.6s 0.2s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  background-color: #0a0a0a;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 100px 0;
  left: -100%;
  transition: all 0.8s ease-in-out;
  z-index: 1;

  &.open-nav {
    left: 0;

    ul li a {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    ul li:nth-child(1) a { transition-delay: 1s; }
    ul li:nth-child(2) a { transition-delay: 1.1s; }
    ul li:nth-child(3) a { transition-delay: 1.3s; }
    ul li:nth-child(4) a { transition-delay: 1.5s; }
    ul li:nth-child(5) a { transition-delay: 1.7s; }
  }

  ul li {
    margin-bottom: 10px;
    height: 76px;
    overflow: hidden;

    a {
      font-size: 50px;
      color: #fbebd6;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 3px;
      display: inline-block;
      transform-style: preserve-3d;
      transition: all 0.5s ease-in-out;
      height: 100%;
      transform: translateY(100px);
      opacity: 0;

      span {
        display: block;

        &:nth-child(2) {
          font-family: 'Bodoni Moda', serif;
          transform: translateY(-46px) rotateX(95deg) skewX(-11deg);
          opacity: 0;
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }
      }

      &:hover {
        span:nth-child(1) {
          transform: translateY(-46px) rotateX(87deg);
          opacity: 0;
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        }
        span:nth-child(2) {
          transform: translateY(-76px) rotateX(0deg) skewX(-11deg);
          opacity: 1;
        }
      }
    }
  }
}

.close-icon {
  width: 40px;
  margin-left: 31px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  right: 40px;
  top: 40px;

  span {
    width: 40px;
    display: inline-block;
    background-color: #fbebd6;
    height: 2px;
  }

  &:hover {
    transform: rotate(90deg);
    filter: grayscale(0.4);
    opacity: 0.5;
  }

  span:first-child {
    transform: rotate(45deg) translate(6px, 5px);
  }

  span:last-child {
    transform: rotate(-45deg) translate(13px, -12px);
  }
}

.title {
  font-family: 'Bodoni Moda', serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}