.adminExperienceContainer {
  border: 2px solid red;
  max-height: 82vh;
  padding: 15px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  &::-webkit-scrollbar-track {
    background: none;
  }
button{
  padding: 15px;
  color: white;
  border: 1px solid #5a1d60;
  background: none;
  border-radius: 15px;
  margin-left: 5px;
  cursor: pointer;
  &:hover{
    bac
  }
}
  .adminExperienceEditSection {
    border: 2px solid red;
    h3 {
      text-align: center;
    }
    .editForm {
      display: flex;
      flex-wrap: wrap;
      .editInputGroup {
        input {
          padding: 15px;
          font-size: 1.1rem;
          background: none;
          border: 1px solid #5a1d60;
          border-radius: 15px;
          color: white;
          outline: none;
          &:focus {
            box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
          }
        }
        textarea{
          padding: 15px;
          font-size: 1.1rem;
          background: none;
          border: 1px solid #5a1d60;
          border-radius: 15px;
          color: white;
        }
      }
    }
  }
}
