.adminChatContainer{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    .AdminChatLeft{
        width: 20%;
        background-color: blue;
    }
    .AdminChatRight{
        width: 80%;
        background-color: yellow;
    }
}