.chatContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 3;
  p {
    color: #ccc;
  }

  .chatWindow {
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 20vw;
    border: 1px solid #5a1d60;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;  
    transition: all 0.4s ease-in-out; 
    
    &.visible {
      transform: translateX(0);
      opacity: 1;
      visibility: visible; 
    }

    .chatHeader {
      width: 100%;
      height: 40px;
      background-color: #5a1d60;
      padding: 5px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .chatStatusIcon {
        i {
          color: green;
          font-size: 12px;
        }
      }

      .chatCloseIcon {
        cursor: pointer;
        i {
          font-size: 1.3rem;
          transition: transform 0.3s ease;
          color: gray;
        }
        &:hover {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }

    .userInfoForm {
      backdrop-filter: blur(10px);
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 10px;

      p {
        color: #ccc;
        text-align: center;
      }

      input {
        padding: 8px 9px;
        width: 80%;
        background: none;
        border: 1px solid #5a1d60;
        border-radius: 15px;
        color: white;
        outline: none;
        transition: 0.5s ease;

        &:focus {
          box-shadow: #5a1d60 0px 5px 15px;
        }
      }

      button {
        padding: 8px 9px;
        background: none;
        border-radius: 15px;
        border: none;
        color: #f2f2f2;
        transition: 0.5s ease;
        cursor: pointer;

        &:hover {
          color: #5a1d60;
          transform: scale(1.2) rotate(-20deg);
        }

        i {
          font-size: 2rem;
        }
      }
    }

    .chatMessages {
      flex-grow: 1;
      padding: 10px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 50vh;
      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      .chatMessage {
        margin: 10px 0;
        padding: 10px;
        max-width: 80%;
        border-radius: 10px;
        word-wrap: break-word;
        font-size: 14px;

        p {
          display: flex;
          gap: 3px;
          font-size: 13px;
        }

        i {
          display: flex;
          justify-content: flex-end;
          font-size: 11px;
          color: gray;
        }

        &.user {
          align-self: flex-end;
          background: none;
          border: 1px solid #5a1d60;
          color: black;
          border-radius: 15px 0px 15px 15px;
        }

        &.system {
          align-self: flex-start;
          background: none;
          border: 1px solid #5a1d60;
          color: white;
          border-radius: 0px 15px 15px 15px;
        }
      }
    }

    .chatInputContainer {
      overflow: hidden;
      display: flex;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid #5a1d60;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background: #16011e;

      .chatInput {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #5a1d60;
        border-radius: 15px;
        margin-right: 10px;
        outline: none;
        transition: 0.5s;
        background: none;
        color: white;
      }

      .chatSendButton {
        background: none;
        color: #5a1d60;
        border-radius: 15px;
        cursor: pointer;
        border: 1px solid #5a1d60;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;

        i {
          font-size: 1.7rem;
          display: flex;
          color: #ccc;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .showChatButton {
    padding: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #5a1d60;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    animation: showButtonAnimation 1s infinite linear alternate;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.11);
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  
    i {
      font-size: 2.5rem;
      color: #5a1d60;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  @keyframes showButtonAnimation {
    0% {
      transform: scale(1); /* Normal size */
    }
    50% {
      transform: scale(0.5); /* Shrink */
    }
    100% {
      transform: scale(1); /* Return to normal size */
    }
  }
  

@media (max-width: 768px) {
  .chatContainer {
    .chatWindow {
      width: 95vw !important;
      height: 80vh !important;

      .userInfoForm {
        align-items: center !important;
        justify-content: flex-start !important;
        padding-top: 10vh !important;
        input {
          padding: 25px  !important;
          font-size: 1.1rem;
          width: 100% !important;
        }
      }
      .chatMessages {
        height: 67.5vh !important;
        .chatMessage {
          &.user {
            align-self: flex-end !important;
          }
          &.system {
            align-self: flex-start !important;
          }
        }
      }
      .chatInputContainer {
        align-self: flex-end !important;
        .chatSendButton{
          i{
            font-size: 2.4rem !important;
          }
        }
      }
    }
  }
}