.ProjeContainer {
  padding-top: 2vh;
}
.ProjeContainer h1 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.project-separator {
  border: 1px solid #ccc;
  width: 55%;
  margin: 5vh auto;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  place-items: center;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  height: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  backdrop-filter: blur(6px);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s ease;
}

.card:hover {
  border: 2px solid gray;
  box-shadow: 1px 4px 12px #ccc;
  backdrop-filter: blur(4px);
  transform: translateY(-15px);
}

.cardBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
  z-index: 0; 
}

.card:hover .cardBackground {
  opacity: 1; 
  
}

.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Above the background */
}

.card-main h1 {
  font-size: 1.5rem;
  transition: 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 200px;
}

.card:hover .card-main h1 {
  transform: scale(0);
}

.card-hover {
  transition: 450ms ease;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background: none;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  transform: scale(1.5);
  color: white;
  z-index: 1; /* Above the background */
}

.card-hover::-webkit-scrollbar {
  width: 0px;
}

.card-hover a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.5s;
}

.card-hover a:hover {
  color: gray;
  filter: drop-shadow(2px 4px 12px white);
  border-radius: 30px;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  outline: 1px solid white;
  padding: 0.5rem;
  font-size: 0.8rem;
  transition: 250ms ease;
}

.tag:hover {
  background: white;
  color: black;
}

.card:hover .card-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 300px;
  }
}