.experiencesContainer {
    .experienceItem {
      display: flex;
      align-items: center;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
  
      &:hover {
        .experiencesLeftSide img {
          filter: contrast(1.5);  // Increases the contrast by 1.5x
          transition: filter 0.3s ease-in-out;  // Smooth transition for filter
        }
      }
  
      .experiencesLeftSide {
        img {
          width: 100%;
          height: auto;
          transition: filter 0.3s ease-in-out;
        }
      }
  
      .experiencesRightSide {
        margin-left: 20px;
        .experiencesRightSideTopSection {
          .company {
            font-size: 18px;
            font-weight: bold;
          }
          .year {
            font-size: 14px;
            color: #888;
          }
        }
  
        .experiencesRightSideBottomSection {
          .location {
            font-size: 14px;
            color: #555;
          }
  
          .description {
            font-size: 16px;
          }
        }
      }
    }
  }
  