.experiencesContainer{
    display: flex;
    color: white;
    align-items: center;
    gap: 3vw;
    width: 100%;
    .experiencesLeftSide{
        border: 1px solid red;
        border-radius: 50%;
        i{
            font-size: 8.7rem;
            display: flex;
        }
    }
    .experiencesRightSide{
        border: 2px solid red;
        width: 40vw;
    }
}