.experiencesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  .experienceItem {
    display: flex;
    color: white;
    align-items: center;
    gap: 3vw;

    .experiencesLeftSide {
      border: 1px solid #5a1d60;
      border-radius: 50px;
      padding: 40px;
      width: 15vw;

      &:hover {
        border: 1px solid #5a1d60;
        transform: rotate(360deg);
        transition: 1s;
      }
      img {
        width: 100%;
        filter: contrast(20%);
        transition: 0.3s;
        transform: scale(0.95);
      }
    }
    .experiencesRightSide {
      border: 2px solid #5a1d60;
      border-radius: 15px;
      width: 45vw;
      color: #ccc;
      transition: 0.3s;
      line-height: 25px;
      padding: 30px 15px;
      .experiencesRightSideTopSection {
        display: flex;
        justify-content: space-between;
      }
      p {
        display: flex;
        align-items: center;
      }
    }
  }
}
